.bg-eggplant {
  background-color: #4c2b36d2;
}

.bg-image-cust {
background-image: url("background-blur-clean-clear-531880.jpg");
height: 80%;
width: 100%;
background-repeat: no-repeat;
background-position: center;
position: relative;
}


.bg-image-curry {
 background-color: #d6f49d8c;
}

.curry-font {
  color: #e2cf3b;
  font-family: 'Staatliches', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}


.bg-image-grey {
  background-color: #7c7c7c96;
}

.imgsize{
  height:69vh;
}

.vertical-center {
  align-items: center;
  display: flex;
}


.position-abs{
  position: absolute;
  top:47%;
  left:11%
}

